.html,body{
    margin: 0;
    padding: 0;
}
.div_content{
    height: 30rem;
    width: 60rem;
}

.card{
    margin: 0 auto;
    float: none;
    margin-top: 20px;

}
.input_align{
    outline: 0;
    border-width:0 0 2px;
    margin: 5px;
    padding: 5px;
    align-items: center;
}
.input_align:focus{
    border-color:green;
}

